html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-items: center;
	padding: 0.25em;
	box-sizing: border-box;
}

#matrix {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
	flex-grow: 1;
	justify-content: center;
}

#matrix>div {
	display: flex;
}

#matrix>div span {
	flex: 1 1 0;
	display: inline-flex;
	border: 2px #d3d6da solid;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	aspect-ratio: 1;
	margin: 3px;
	font-size: 2em;
	font-weight: bold;
	user-select: none;
}

@supports not (aspect-ratio: 1) {
	#matrix>div span::before {
		float: left;
		padding-top: 100%;
		content: "";
	}
	#matrix>div span::after {
		display: block;
		content: "";
		clear: both;
	}
}

#keyboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 480px;
	justify-content: center;
	flex-grow: 1;
}

#keyboard>div {
	display: flex;
	flex-grow: 1;
	max-height: 3em;
}

#keyboard>div button {
	flex: 1 1 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(211, 214, 218);
	border: 0;
	border-radius: 4px;
	text-transform: uppercase;
	line-height: 3em;
	margin: 2px;
	user-select: none;
	cursor: pointer;
}

#matrix .incorrect,
#keyboard .incorrect {
	color: rgb(255, 255, 255);
	background-color: rgb(120, 124, 126);
	border-color: rgb(120, 124, 126);
	transition-delay: 125ms;
}

#matrix .partial,
#keyboard .partial {
	color: rgb(255, 255, 255);
	background-color: rgb(201, 180, 88);
	border-color: rgb(201, 180, 88);
	transition-delay: 125ms;
}

#matrix .correct,
#keyboard .correct {
	color: rgb(255, 255, 255);
	background-color: rgb(106, 170, 100);
	border-color: rgb(106, 170, 100);
	transition-delay: 125ms;
}

.invalid {
	animation: shake 250ms linear;
}

.flip {
	animation: flip 250ms linear;
}

@keyframes shake {
	8%,
	41% {
		transform: translateX(-10px);
	}
	25%,
	58% {
		transform: translateX(10px);
	}
	75% {
		transform: translateX(-5px);
	}
	92% {
		transform: translateX(5px);
	}
	0%,
	100% {
		transform: translateX(0);
	}
}

@keyframes flip {
	0% {
		transform: perspective(0px) scaleX(1);
	}
	50% {
		transform: perspective(0px) scaleX(0);
	}
	100% {
		transform: perspective(0px) scaleX(1);
	}
}

#modal {
	border: 0;
	border-radius: 4px;
	box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.5);
	padding: 0;
	background-color: #fff;
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

.stats {
	display: flex;
	padding: 1em;
	flex-direction: column;
}

#stats-game_result {
	font-size: 2em;
	text-align: center;
	margin: 0.25em;
	text-transform: uppercase;
}

.stats-header {
	display: flex;
}

.stats-header>div {
	margin: 0 1em;
}

.stats-header>div>div[id^="stat-"] {
	font-size: 2em;
	text-align: center;
}

.stats-header>div>div.stat-title {
	font-size: 0.8em;
}

#stats-graph {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

#stats-graph>div>div {
	display: flex;
	font-size: 0.8em;
	align-items: center;
}


div[id^="graph-"] {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 0%;
	background-color: rgb(120, 124, 126);
	transition: width 1s ease-in;
	text-align: right;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box;
	margin: 0.15em 0;
	padding: 0.1em 1em;
	margin-left: 1em;
}

div[id^="graph-"].correct {
	background-color: rgb(106, 170, 100);
	transition-delay: 0s;
}


#canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

#new_game {
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(106, 170, 100);
	border-radius: 4px;
	border: 0;
	padding: 1em;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1em;
}